{% extends "base.html" %}

{% block title %}
	Forums
{% endblock title %}

{% block content %}
	<table>
		<thead>
			<tr>
				<th>Category</th>
				<th>Topics</th>
			</tr>
		</thead>
		<tbody>
		{% for category in categories %}
			<tr>
				<td><a href="{{ category.get_absolute_url }}">{{ category.title }}</a>{% if category.description %} &ndash; {{ category.description }}{% endif %}</td>
				<td>{{ category.topic_set.count }}</td>
			</tr>
			{% for subcategory in category.categories.all %}
			<tr class="subcategory">
				<td><a href="{{ subcategory.get_absolute_url }}">{{ subcategory.title }}</a>{% if subcategory.description %} &ndash; {{ subcategory.description }}{% endif %}</td>
				<td>{{ subcategory.topic_set.count }}</td>
			</tr>
			{% endfor %}
		{% empty %}
		<tr>
			<td>There are no categories at all!</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock content %}