{% extends "base.html" %}

{% block title %}
	{{ topic.title }} - {{ topic.category.title }} - Forums
{% endblock title %}

{% block content %}
	<h3 class="nb">{{ topic.title }}</h3>
	{% for post in posts %}
	<div class="post{% if post.created_by == topic.created_by %} author{% endif %}">
		<div class="sidebar">
			<a class="user" href="{{ post.get_absolute_url }}">{{ post.created_by }}</a>
			<div class="group">
				{% if post.created_by.is_superuser %}
					Superuser
				{% else %}
					{% if post.created_by.is_staff %}
						Staff
					{% else %}
						Member
					{% endif %}
				{% endif %}
			</div>
		</div>

		<div class="content">
			{{ post.content_html|safe }}
		</div>

		<div class="footer">
			Posted {{ post.created_at|timesince }} ago <a href="{{ post.get_absolute_url }}">#</a>
		</div>
	</div>
	{% endfor %}
	<a href="{% url post_new topic.id %}">New reply &raquo;</a>
{% endblock content %}
