html {
	color: #666;
	background: #91c5ff url("http://teeworlds.com/images/bg.png") repeat-x top left;
	font-family: 'Droid Sans', sans-serif;
	font-size: 13px;
	line-height: 20px;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
}

a {
	color: #970;
	border-bottom: thin solid transparent;
	text-decoration: none;
	-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;
}

a:hover {
	color:#fa3;
	border-bottom: thin solid;
}

h1, h2, h3, h4 {
	border-bottom: thin solid;
	font-family: 'Droid Serif', serif;
	font-weight: normal;
	line-height: 100%;
}

header {
	background: #9dc547;
	height: 135px;
	border-radius: 0 0 8px 8px;
	margin: 0 auto 30px;
	width: 1100px;
}

	header #in {
		background: #918f61;
		border-radius: 3px;
		height: 110px;
		margin: 0 10px;
		padding: 0 10px;
	}

	header #user-box {
		color: #fff;
		background-color: #5d6e39;
		background-image: -moz-linear-gradient(center top , #7f905b, #384914) repeat scroll 0 0 transparent;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#7f905b), to(#384914));
		border: 3px solid #53642f;
		border-radius: 3px;
		font-weight: bold;
		margin: 15px 10px;
		padding: 15px;
		float: right;
		-webkit-box-shadow:3px 3px 0 rgba(0,0,0,0.2);-moz-box-shadow:3px 3px 0 rgba(0,0,0,0.2);box-shadow:3px 3px 0 rgba(0,0,0,0.2);
	}

	header #user-box a {
			color: #fff36f;
		}

#page {
	background: #e7e5be;
	border-top: thin solid rgba(255,255,255,0.4);
	width: 1100px;
	margin: 0 auto;
	z-index: 5;
}

	#page section.content {
		background: #fff;
		padding: 20px;
		z-index: 10;
		/* ugly hack for z-index */
		position: relative;
	}

	#page section.menu {
		margin: 0 20px;
		height: 30px;
	}

		#page section.menu ul {
			margin: 0;
			padding: 0;
		}

		#page section.menu li {
			display: inline-block;
			margin: -4px 3px 0;
		}

		#page section.menu li.right {
			float: right;
		}

			#page section.menu li a {
				color: #666;
				background-color: #eee;
				background-image: -moz-linear-gradient(center top , #fff, #ddd) repeat scroll 0 0 transparent;
				background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
				border-radius: 5px 5px 0 0;
				text-decoration: none;
				display: block;
				padding: 5px 20px 11px;
				z-index: 0;
				/* ugly hack for z-index */
				position: relative;
			}

		#page section.menu li#current {
			margin-top: -14px;
		}

		#page section.menu li#current a {
			padding-bottom: 21px;
		}

		#page section.menu li#donate a {
			color: #036;
			background-color: #ffaf33;
			background-image: -moz-linear-gradient(center top , #ffe1b3, #ffaf33) repeat scroll 0 0 transparent;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe1b3), to(#ffaf33));
		}

#page, section.content {
	border-radius: 8px;
}

header, #page, section.content, section.menu li a {
	-webkit-box-shadow:0 0 5px rgba(0,0,0,0.1);-moz-box-shadow:0 0 5px rgba(0,0,0,0.1);box-shadow:0 0 5px rgba(0,0,0,0.1);
}

footer {
	color: #fff;
	font-size: 11px;
	text-align: center;
	padding: 20px;
}

	footer ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	footer li {
		margin: 0 20px;
		display: inline-block;
	}