html, body {
	padding:0;
	margin:0;
}

html {
	color: #666;
	background-color: #e7e5be;
	font-size: 13px;
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans serif;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
}

body {
	width: 960px;
	margin: 0 auto;
}

a {
	color: #970;
	text-decoration: none;
}

a:hover {
	color: #fa3;
	text-decoration: underline;
}

header.main {
	color: #9dc547;
	font-size: 22px;
	text-transform: uppercase;
	padding: 0 20px;
}

ul.menu.main {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

	ul.menu.main li {
		padding: 10px;
		display: inline-block;
	}

	ul.menu.main li.right {
		font-size: 80%;
		margin-top: 5px;
		float: right;
	}

#messages div {
	padding: 20px;
	margin: 20px 0;
}

	#messages .success {
		background: #9dc547;
	}

#messages div, #content {
	border: thin solid #9dc547;
	border-top-width: 5px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

#content {
	background-color: #fff;
	padding: 20px;
}

	#content h1, #content h2, #content h3 {
		border-bottom: thin solid;
	}

	#content .nb {
		border: none;
	}

	#content h1.title {
		font-size: 36px;
	}

footer {
	color: #333;
	font-size: 10px;
	text-align: center;
	margin-top: 20px;
}

form {
	width: 100%;
}

	form label {
		font-weight: bold;
		margin: 5px 2px 0px;
		display: block;
	}

	form textarea {
		width: 100%;
		height: 350px;
		resize: vertical;
	}

	form textarea, form input {
		background-color: #fff;
		border: thin solid #999;
		-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
		margin: 0;
		padding: 5px;
	}

	form textarea:focus, form textarea:hover,
	form input:focus, form input:hover {
		box-shadow: 0 0 5px #9dc547;
		outline: none;
	}

	form input:not([type=submit]) {
		width: 33%;
	}

	form input[type=submit] {
		color: #506324;
		background-color: #9dc547;
		background-image: -webkit-gradient(linear, left bottom, left top, from(#9dc547), to(#e4f9b7));
		background-image: -moz-linear-gradient(bottom,  #9dc547,  #e4f9b7);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dc547', endColorstr='#e4f9b7');
		border-color: #789636;
		font-weight: bold;
		text-transform: uppercase;
		text-shadow: 0 1px 0 rgba(255,255,255,0.7);
		letter-spacing: 1px;
		padding: 5px 25px;
	}

	form input[type=submit]:active {
		background-color: #e4f9b7;
		background-image: -webkit-gradient(linear, left bottom, left top, from(#e4f9b7), to(#9dc547));
		background-image: -moz-linear-gradient(bottom,  #e4f9b7,  #9dc547);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4f9b7', endColorstr='#9dc547');
	}

	form span.helptext {
		font-size: 80%;
		margin-left: 10px;
	}

	form ul.errorlist {
		text-shadow: none;
		list-style-type: none;
		padding: 0;
	}

		form ul.errorlist li {
			color: #fff;
			background-color: #c54747;
			padding: 5px 10px;
		}

table {
	width: 100%;
}

tbody tr:nth-child(odd) {
	background-color: #f9f8e8;
}

tbody tr:hover {
	background-color: #e3fcac;
}

th {
	font-weight: normal;
}

td {
	text-align: center;
}

td, th {
	padding: 5px 10px;
}

td:first-child, th:first-child {
	text-align: left;
}