{% extends "base.html" %}
{% load breadcrumbs %}
{% block title %}Password reset confirmation - {{ block.super }}{% endblock %}
{% block breadcrumbs %}{{ block.super }} {% breadcrumb "Password reset confirmation" %}{% endblock %}
{% block content %}
{% if validlink %}
<h1>Enter new password</h1>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post" action="{% url django.contrib.auth.views.password_reset_confirm %}">
	{% include "snippets/form.html" %}
	<input type="submit" value="Change password" />
</form>
{% else %}
<h1>Password reset unsuccessful</h1>

<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}
{% endblock %}