{% extends "base.html" %}
{% load breadcrumbs %}
{% load utils %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb_url user_details.profile accounts.views.profile_details user_details.id %}
{% endblock %}
{% block content %}
	username - {{ user_details.username }}<br>
	first_name - {{ user_details.first_name }}<br>
	last_name - {{ user_details.last_name }}<br>
	is_staff - {{ user_details.is_staff }}<br>
	is_active - {{ user_details.is_active }}<br>
	is_superuser - {{ user_details.is_superuser }}<br>
	last_login - {{ user_details.last_login|user_date:user }}<br>
	date_joined - {{ user_details.date_joined|user_date:user }}<br>
	<br><br>
	{% if user_details.profile.avatar %}
	avatar - <img src="{{ user_details.profile.avatar.url }}" /><br>
	{% endif %}
	signature - {{ user_details.profile.signature }}<br>
	location - {{ user_details.profile.location }}<br>
	website - {{ user_details.profile.website }}<br>
	icq - {{ user_details.profile.icq }}<br>
	jabber - {{ user_details.profile.jabber }}<br>
	post_count - {{ user_details.profile.post_count }}<br>
{% endblock content %}