{% extends "base.html" %}
{% load breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb_url "Profile" accounts.views.profile_settings %}
{% breadcrumb "Identity" %}
{% endblock %}
{% block content %}
	<form method="post" action="{% url accounts.views.profile_settings_identity %}">
		{% with user_form as form %}
		{% include "snippets/form.html" %}
		{% endwith %}
		{% with profile_form as form %}
		{% include "snippets/form.html" %}
		{% endwith %}
		<input type="submit" value="Send" />
	</form>
{% endblock %}