{% extends "base.html" %}
{% load breadcrumbs %}
{% block title %}Avatar - User settings - {{ block.super }}{% endblock %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb_url "User settings" accounts.views.profile_settings %}
{% breadcrumb "Avatar" %}
{% endblock %}
{% block content %}
	<form enctype="multipart/form-data" method="post" action="{% url accounts.views.profile_settings_avatar %}">
		{% if user.profile.avatar %}
			Current avatar: <img src="{{ user.profile.avatar.url }}" />
		{% endif %}
		{% include "snippets/form.html" %}
		<input type="submit" value="Send" />
	</form>
{% endblock %}