{% extends "base.html" %}
{% load breadcrumbs %}
{% load utils %}
{% load truncate %}
{% block title %}{{ user_details.profile }} - {{ block.super }}{% endblock %}
{% block breadcrumbs %}{{ block.super }} {% breadcrumb_url user_details.profile accounts.views.profile_details user_details.id %}{% endblock %}
{% block content %}
	<div class="box" id="identity">
		{% if user_details|is_online %}ONLINE{% endif %}
		<div class="label">Identity</div>

		<div class="user_right">
			<div class="user_image">
			{% if user_details.profile.avatar %}
				<img class="avatar" src="{{ user_details.profile.avatar.url }}" />
			{% endif %}
			{% if user_details.profile.group.group_badge %}
				<img class="badge" src="{{ user_details.profile.group.group_badge.url }}" />
			{% endif %}
			</div>
		</div>
		<dt>Username</dt>
			<dd>{{ user_details.username }}</dd>
		<dt>Real name</dt>
			<dd>{{ user_details.get_full_name|default:"Unknown" }}</dd>
		<dt>Location</dt>
			<dd>{{ user_details.profile.location|default:"Unknown" }}</dd>
		<dt>Website</dt>
			<dd>{{ user_details.profile.website|default:"Unknown" }}</dd>
		{% if user_details.profile.signature_html %}
		<dt>Signature</dt>
			<dd>{{ user_details.profile.signature_html }}</dd>
		{% endif %}
	</div>

	<div class="box" id="messaging">
		<div class="label">Messaging</div>

		<dt>ICQ</dt>
			<dd>{{ user_details.profile.icq|default:"Unknown" }}</dd>
		<dt>Jabber</dt>
			<dd>{{ user_details.profile.jabber|default:"Unknown" }}</dd>
	</div>

	<div class="box" id="activity">
		<div class="label">Activity</div>

		<dt>Post count</dt>
			<dd>{{ user_details.profile.post_count }}</dd>
		<dt>Last activity</dt>
			<dd>{{ user_details.profile.last_activity_at|user_date:user }}</dd>
		<dt>Date joined</dt>
			<dd>{{ user_details.date_joined|user_date:user }}</dd>
	</div>

	{% if user.is_staff or user.is_superuser %}
	<div class="box" id="staff">
		<div class="label">Staff</div>
		<dt>Admin notes</dt>
			<dd>{{ user_details.profile.admin_notes|default:"-" }}</dd>
		<dt>Warnings ({{ user_details.profile.get_warn_count }})</dt>
			{% for warn in user_details.warns.all %}
				<dd>W:{{ warn.weight }}, by {{ warn.created_by }}, {{ warn.reason }}, &quot;{{ warn.comment|truncate:50 }}&quot;, <a href="">edit</a>, <a href="">delete</a></dd>
			{% empty %}
			<dd>-</dd>
			{% endfor %}
		<dt>Bans</dt>
			{% for ban in user_details.bans_applied.all %}
				<dd>by {{ ban.created_by }}, expires at {{ ban.expires_at }}, &quot;{{ ban.comment|truncate:50 }}&quot;, <a href="">edit</a>, <a href="">delete</a></dd>
			{% empty %}
			<dd>-</dd>
			{% endfor %}
		<dt>Registration IP address</dt>
			<dd>{{ user_details.profile.registration_ip|default:"Unknown" }}</dd>
		<dt>Last used IP address</dt>
			<dd>{{ user_details.profile.last_activity_ip|default:"Unknown" }}</dd>
	</div>
	{% endif %}
{% endblock content %}