body {
	font-family: "Droid Sans", "Myriad", "Myriad Pro", "Tahoma", "Helvetica", "Liberation Sans", "Bitstream Vera Sans", "Sans";
	font-size: 13px;
	margin: 0;
}

html {
	background: #91c5ff;
	background: -webkit-gradient(linear, left top, left bottom, from(#ddedff), to(#91c5ff));
	background: -moz-linear-gradient(top,  #ddedff,  #91c5ff);
	min-height: 100%;
}

a {
	color: #970;
	text-decoration: none;
}

a:hover {
	color: #fa3;
}

option.button {
	padding: 3px 3px 3px 18px;
}

#admin_url {
	padding: 5px;
	margin-right: 5px;
	background-color: #000;
	color: #fff;
}

#admin_url:hover {
	background-color: #fff;
	color: #000;
	border-bottom: 3px double #999;
}

#user {
	position: absolute;
	top: 0;
	right: 100px;

	background: #fff;
	padding: 10px;
}

#page {
	background: #fff;
	width: 80%;
	margin: 0 auto 50px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-moz-box-shadow: 0 2px 3px #888;
	-webkit-box-shadow: 0 2px 3px #888;
}

#menu {
	background: #e7e5be;
	padding: 10px 20px;
	text-transform: uppercase;
}

#menu a {
	color: #970;
}

#content, #forum_stats {
	padding: 20px;
	overflow: hidden;
}

#forum_stats {
	background: #f5f3d0;
	color: #111;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
}

#footer {
	padding: 10px;
	color: #888;
	float: right;
}

#footer:hover { color: #444 }
#footer:hover #heart { color: #f06 }

#breadcrumbs {
	font-size: 85%;
	padding: 0 15px;
}

#info {
	color: #666;
	font-size: 114%;
	overflow: hidden;
	border-bottom: thin solid #dbdbda;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

#download_box {
	background:none repeat scroll 0 0 #E4F9B7;
	border:1px solid #B9CA94;
	margin:0 280px 0 10px;
	padding-bottom:10px;
	padding-left:7px;
	padding-top:7px;
}

#screenshotbar {
	float:right;
	width:200px;
}

#need-help {
	font-size: 85%;
}

.smaller {
	font-size: 90%;
}

#logo {
/*	background: url(http://teeworlds.com/trac/teeworlds/browser/webpage/img/image_logo.png?format=raw) no-repeat;*/
	background: url(/static/images/logo.png) no-repeat;
	height: 158px;
	width: 80%;
	margin: 40px auto 0;
}

ul.messages, .category ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.messages li, .category li {
	padding: 20px;
	margin: 0;
}

ul.messages .success { background: #9dc547; }
ul.messages .warning { background: #e7e5be; }
ul.messages .error   { background: #c54d47; }


.category {
	border: thin solid #918f61;
	margin-bottom: 20px;
}

.category .header {
	background: #e7e5be;
	border-bottom: thin solid #918f61;
	padding: 10px;
}

.category li:not(:last-child) {
	border-bottom: thin solid #918f61;
}

.category li {
	padding: 10px;
}

#forum_view {
	width: 100%;
	border-collapse: collapse;
}

#forum_view td:not(:first-child) {
	text-align: center;
}

#forum_view td p {
	color: #4f4f4f;
	margin: 0;
}

/****************
 * Main page
 ****************/

.news {
	color: #555;
	clear: left;
	overflow: hidden;
	margin: 20px 0;
}

.news .left {
	width: 120px;
	text-align: center;
	padding-top: 10px;
}

.news .left img {
	padding: 5px;
	border: 4px double #dbdbda;
}

.news .right {
	padding: 0 20px;
	float: left;
	border-left: 4px double #dbdbda;
	max-width: 70%
}

.news .right h2 {
	margin: 0;
}

.news .article-details {
	color: #777;
	font-size: 80%;
	font-style: italic;
}

.news article {
	margin: 10px 0;
	line-height: 20px;
	text-align: justify;
}

#sidebar {
	color: #444;
	border-left: thin solid #dbdbda;
	width: 20%;
	padding: 0 20px 20px;
}

/****************
 * Profile
 ****************/

.box .user_right {
	padding: 10px;
	float: right;
}

.user_image {
	position: relative;
}

.avatar {
	width: 60px;
	height: 60px;
}

.badge {
	position: absolute;
	right: -10px;
	bottom: -10px;
}

.box .label {
	font-weight: bold;
	margin: 10px 0;
}

.box dt {
	margin-left: 20px;
	display: inline;
}

.box dd {
	color: #4f4f4f;
}

/****************
 * Forum
 ****************/

#topic_view * {
	margin: 0;
	padding: 0;
}

#topic_view, #topic_view .content {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
}

#topic_view .content {
	height: 110px;
}

#topic_view td {
	border: 0;
}

#topic_view .content td {
	padding: 10px;
}

#topic_view .content td[colspan="2"] {
	padding: 15px 10px !important;
}

#topic_view .user_info {
	background: #f6f6eb;
	border-right: thin solid #e7e5be;
	color: #666;
	font-weight: bold;
	vertical-align: top;
	padding: 10px 10px 0;
	width: 120px;
}

#topic_view .user_image {
	width: 60px;
	height: 60px;
	margin: 2px 0 10px 0;
}

#topic_view .rank {
	font-size: 80%;
}

#topic_view .post {
	border-bottom: thin solid #e7e5be;
}

#topic_view .post .signature {
	font-size: 85%;
	color: #222;
	margin-top: 20px;
}

#topic_view .post .content tr:first-child {
	color: #333;
	font-size: 85%;
	border-bottom: thin dashed #ccc;
	height: 32px;
	width: 50%;
}

#topic_view .post:first-child .content {
	background: #edf9d4;
}

#topic_view .post:first-child .content tr:first-child {
	border-bottom: thin dashed #b9ca94;
}

#topic_view .post .content {
	padding: 10px;
}

#topic_view .post:nth-child(even) .content {
	background: #f9f9f9;
}

/*#topic_view .post .content tr:not(:first-child) td:first-child {
	width: 50%;
}*/

#topic_view .post .buttons {
	opacity: 0.3;
}

#topic_view .post:hover .buttons {
	opacity: 1;
}

#topic_view p {
	margin-bottom: 10px;
	line-height: 20px;
	text-align: justify;
}

#topic_view blockquote {
	background: #eee;
	border: thin solid #ccc;
	margin: 10px 20px;
	padding: 20px;
}

#topic_view blockquote em {
	font-weight: bold;
	margin-bottom: 10px;
	display: block;
}

#topic_view blockquote em:after {
	font-weight: normal;
	content: ' wrote:';
}

.selected_post td {
	background: #f5f3d0;
}

.selected_post .buttons {
	opacity: 1 !important;
}

.selected_post td.user_info {
	background: #f7f5d4 !important;
}


/****************
 * Error
 ****************/

#error_page {
	background: #fff;
	margin: 15% auto 0;
	width: 680px;
	position: relative;
	padding: 20px;
	clear: both;
	overflow: hidden;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
}

#error_page img {
	float: left;
}

#error_page h1 {
	font-size: 4em;
	color: #333;
}

#error_page .content {
	margin: 10% 0 0;
	text-align: center;
}

#error_page .home {
	position: absolute;
	padding: 10px;
	background: #e7e5be;
	top: 0;
	right: 70px;
	border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 0 3px #888;
	-moz-box-shadow: 0 0 3px #888;
}

#error_page .number {
	color: #777;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 15pt;
	background: #fff;
	position: absolute;
	padding: 8px;
	top: 10px;
	left: 10px;
}

#error_page .user_bar {
	position: absolute;
	bottom: 3px;
	right: 12px;
}

/****************
 * Search
 ****************/

#search {
	width: 40%;
}

#search td {
	padding: 1px 5px;
	width: 70%;
}

#search td[colspan="2"] {
	text-align: center !important;
}

#search tr td:first-child {
	text-align: right;
	width: 30%;
}

#search label {
	font-weight: bold;
}

#search input,
#search select {
	font-size: 110%;
	width: 100%;
	padding: 2px;
}

#search input[type="submit"] {
	width: 30%;
}

#results {
	width: 100%;
	border-collapse: collapse;
}

#results tbody tr {
	border: thin solid #f5f3d0;
}

#results tbody tr:nth-child(odd) {
	background: #fcfbeb;
}

#results tbody tr:hover {
	background: #eee;
	border: thin solid #e0e0e0;
}

#results th:not(.replies) {
	text-align: left;
	padding-left: 20px;
}

#results td {
	padding: 3px 10px;
}

#results td.topic {
	width: 50%;
}

#results th.replies,
#results td.replies {
	width: 10%;
	text-align: center;
}

/****************
 * Buttons
 ****************/

.buttons { text-align: right;}

a.post_button {
	display: inline-block;
	padding: 7px 10px 5px 20px;
	line-height: 20px;
	vertical-align: bottom;
	height: 16px;
	width: 16px;
}

a.post_button:hover {
	background-position: 0 -16px;
}

.post_button.edit { background: url(/static/images/post_edit.png) no-repeat scroll top right; }
.post_button.quote { background: url(/static/images/quote.png) no-repeat scroll top right; }
.post_button.report { background: url(/static/images/report.png) no-repeat scroll top right; }
.post_button.delete { background: url(/static/images/post_delete.png) no-repeat scroll top right; }
.post_button.karma_negative { background: url(/static/images/karma_negative.png) no-repeat scroll top right; }
.post_button.karma_neutral { background: url(/static/images/karma_neutral.png) no-repeat scroll top right; }
.post_button.karma_positive { background: url(/static/images/karma_positive.png) no-repeat scroll top right; }
.post_button.karma { opacity: 0.2; }
.post_button.karma:hover { opacity: 0.7; }
.post_button.karma.current { opacity: 1; }
.karma-count {
	background: #f5f3d0;
	border: thin solid #e0e0e0;
	text-align: center;
	min-width: 14px;
	height: 14px;
	display: inline-block;
	border-radius: 7px;
	-moz-border-radius: 7px;
	vertical-align: middle;
}

input.posts_selected {
	margin-left: 10px !important;
	height: 16px;
	vertical-align: middle;
}

a.button {
	color: #789d42;
	display: inline-block;
	padding: 7px 10px 5px 20px;
	line-height: 20px;
	vertical-align: bottom;
}

a.button.disabled { color: #aaa; }

.button.reply { background: url(/static/images/add.png) no-repeat center left; }
.button.reply.disabled { background: url(/static/images/add_disabled.png) no-repeat center left; }
.button.stick { background: url(/static/images/pin.png) no-repeat center left; }
.button.unstick { background: url(/static/images/unpin.png) no-repeat center left; }
.button.open { background: url(/static/images/unlock.png) no-repeat center left; }
.button.close { background: url(/static/images/lock.png) no-repeat center left; }
.button.move { background: url(/static/images/move.png) no-repeat center left; }
.button.delete { background: url(/static/images/topic_delete.png) no-repeat scroll center left; }
.button.split { background: url(/static/images/split.png) no-repeat center left; }

.right	{ float: right; }
.left	{ float: left; }
