Dear {{ new_user.username }},

Thank you for registering at the {{ site_name }}. Before we can activate your account one last step must be taken to complete your registration.

Please note - you must complete this last step to become a registered member. You will only need to visit this url once to activate your account.

To complete your registration, please visit this url: 
http://{{ server_name }}/{% url accounts.views.activation new_user.id activation_key %}

If you are still having problems signing up please contact a member of our support staff at {{ webmaster_email }}

All the best,
{{ site_name }}