{% extends "base.html" %}

{% block title %}
	History - {{ page.title }} - Wiki
{% endblock title %}

{% block extra_menu %}
	<li class="right"><a href="{% url wiki_new %}">New page</a></li>
	<li class="right"><a href="{% url wiki_list %}">Page list</a></li>
	<li class="right"><a href="{% url wiki_edit page.slug %}">Edit page</a></li>
	<li class="right"><a href="{% url wiki_history page.slug %}">Page history</a></li>
	<li class="right"><a href="{% url wiki_delete page.slug %}">Delete page</a></li>
{% endblock extra_menu %}

{% block content %}
	<h1 class="title">History of {{ page.title }}</h1>

	<ul>
	{% for version in versions %}
		<li>({% if not forloop.first %}<a href="{% url wiki_compare page.slug version.id latest_version_id %}">current</a>{% else %}current{% endif %} | previous) - {{ version.get_type_display }} - <a href="{% url wiki_history_detail page.slug version.id %}">{{ version.revision.date_created }}</a> - {{ version.revision.user|default:"Anonymous" }} - {{ version.revision.comment|default:"No comment" }}{% if not forloop.first %} - <a href="{% url wiki_revert page.slug version.id %}">revert</a>{% endif %}</li>
	{% endfor %}
	</ul>
{% endblock content %}