{% extends "base.html" %}

{% block extra_head %}
	<link href="{{ STATIC_URL }}wiki.css" rel="stylesheet" type="text/css">
{% endblock extra_head %}

{% block extra_menu %}
	<li><a href="{% url wiki_new %}">New page</a></li>
	<li><a href="{% url wiki_edit page.slug %}">Edit page</a></li>
	<li><a href="{% url wiki_history page.slug %}">Page history</a></li>
{% endblock extra_menu %}

{% block content %}
		<section class="content" id="wiki">
			<h1 class="heading">{{ page }}</h1>
			{{ page.content_html }}
		</section>
{% endblock content %}