<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{ settings.MEDIA_URL }}css/style.css" />
	<title>{% block error_title %}Unknown error{% endblock error_title %} - {{ settings.SITE_NAME }}</title>
</head>
<body>
	<div id="error_page">
		<div class="number">{% block error_code %}{% endblock error_code %}</div>
		<img src="{{ settings.MEDIA_URL }}images/fail_tee.png" alt="sad tee">
		<div class="content">
			{% block content %}
			{% endblock content %}
		</div>
		{% block return_to_home %}
		<div class="home">
			<a href="/">Return to home</a>
		</div>
		{% endblock return_to_home %}
		{% block additional_code %}{% endblock additional_code %}
	</div>
</body>
</html>