{% extends "admin_tools/dashboard/module.html" %}
{% block module_content %}
    <div class="module link-list" id="link-list-module">
        <h2>{{ module.title }}</h2>
        <ul>
            {% spaceless %}
                {% for child in module.children %}
                    <li>
                        <a class="{% if child.external %}external{% else %}internal{% endif %}" href="{{ child.url }}" {% if child.description %} title="{{ child.description }}"{% endif %}>{{ child.title }}</a>
                    </li>
                {% endfor %}
            {% endspaceless %}
        </ul>
    </div>
{% endblock %}
