{% extends 'base.html' %}

{% block content %}
<h2>Search</h2>

	<form method="get" action="">
		<table>
			{{ form.as_p }}
			<tr>
				<td>&nbsp;</td>
				<td>
					<input type="submit" value="Search">
				</td>
			</tr>
		</table>

		{% if page.object_list %}
			<h3>Results</h3>
			{% for result in page.object_list %}
				<p>
					<a href="{{ result.object.get_absolute_url }}">{{ result.title }}</a>
					{{ result.object.content_html }}
				</p>
			{% empty %}
				<p>No results found.</p>
			{% endfor %}
		{% endif %}
	</form>
{% endblock %}