{% load menu %}
<!DOCTYPE html>
<html>

<head>
	<title>{% block title %}{% endblock title %} - Trinitee</title>
	<meta charset="utf-8">
	<link href="http://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}base.css" rel="stylesheet" type="text/css">
</head>

<body>

	<div id="menu">
		<a id="logo" href=""><img src="{{ STATIC_URL }}images/teeworlds-logo.png" alt="teeworlds logo"></a>
		<ul>
			{% url home as url_home %}
			{% url wiki_index as url_wiki_index %}
			{% url forums_index as url_forums_index %}
			{% url userlist as url_userlist %}
			<li{% current request url_home %}><a href="{{ url_home }}">Home</a></li>
			<li{% current request url_wiki_index %}><a href="{{ url_wiki_index }}">Wiki</a></li>
			<li{% current request url_forums_index %}><a href="{{ url_forums_index }}">Forums</a></li>
			<li{% current request url_userlist %}><a href="{{ url_userlist }}">User list</a></li>
			{% if request.user.is_authenticated %}
				<li><a href="{% url userena_signout %}">Logout</a></li>
			{% else %}
				{% url userena_signin as url_login %}
				{% url userena_signup as url_register %}
				<li{% current request url_login %}><a href="{{ url_login }}">Login</a></li>
				<li{% current request url_register %}><a href="{{ url_register }}">Register</a></li>
			{% endif %}
		</ul>
	</div>

	<div id="submenu">
		<div class="in">
			<ul>
				{% block extra_menu %}{% endblock extra_menu %}
			</ul>
		</div>
	</div>

	{% if messages %}
	<section id="messages">
		{% for message in messages %}
		<div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
			{{ message|safe }}
		</div>
		{% endfor %}
	</section>
	{% endif %}

	<div id="page" class="in">

		{% block content %}{% endblock content %}

	</div>


	<div id="page_foot">
		Trinitee - Copyright &copy; 2011
	</div>
</body>

</html>