{% load breadcrumbs %}{% load utils %}
<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" />
	<title>{% block title %}{{ settings.SITE_NAME }}{% endblock %}{% if settings.DEBUG %} [DEBUG]{% endif %}</title>
	{% block header %}{% endblock header %}
</head>
<body>
	<div id="user">
		{% if user.is_superuser or user.is_staff %}<a id="admin_url" href="/admin/"><span>God's habitat</span></a>{% endif %}
		Hello, {{ user.username|default:"Guest" }}! - {% if user.is_authenticated %}<a href="{% url accounts.views.profile_settings %}">Settings</a> - <a href="{% url accounts.views.profile_details user.id %}">Your profile</a> - <a href="{% url accounts.views.logout %}?next={{ request.path }}">Logout</a>{% else %}<a href="{% url accounts.views.login %}?next={{ request.path }}">Login</a> (test:test) - <a href="{% url accounts.views.register %}">Sign up</a>{% endif %}
	</div>

	<div id="logo"></div>

	<div id="page">
		<div id="menu">
			{% url home as url_home %}
			{% url journal as url_journal %}
			{% url downloads.views.downloads as url_downloads %}
			{% url forums.views.index as url_forum %}
			<a href="{{ url_home }}"{% current request url_home %}>home</a> | <a href="{{ url_journal }}"{% current request url_journal %}>blog</a> | <a href="{{ url_downloads }}"{% current request url_downloads %}>downloads</a> | <a href="">support</a> | <a href="{{ url_forum }}"{% current request url_forum %}>forum</a>
		</div>

		{% if messages %}
		<ul class="messages">
		    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
		</ul>
		{% endif %}

		<div id="content">
			<div id="breadcrumbs">
				{% block breadcrumbs %}{% breadcrumb_url settings.SITE_NAME home %}{% endblock %}
			</div>
			{% block content %}
			{% endblock content %}
		</div>
		{% block after_content %}
		{% endblock after_content %}
		<div id="footer">
			Served by <span title="django">twelve mythical ponies</span>. For tees, with <span id="heart" title="love!">&hearts;</span>
		</div>
	</div>
</body>