{% load breadcrumbs %}{% load utils %}{% load dajaxice_templatetags %}{% smartspaceless %}
<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{ settings.MEDIA_URL }}css/style.css" />
	<title>{% block title %}{{ settings.SITE_NAME }}{% endblock %}{% if settings.DEBUG %} [DEBUG]{% endif %}</title>
	{% block header %}{% endblock header %}
	{% dajaxice_js_import %}
	<script type="text/javascript" charset="utf-8">
		function voteup(post_id)
		{
			$('post-' + post_id).down('span.karma-voted').update('<img src="{{ settings.MEDIA_URL }}images/throbber.gif" />');
			Dajaxice.forums.voteup('Dajax.process', {'post_id': post_id});
			return false;
		}
		function votedown(post_id)
		{
			$('post-' + post_id).down('span.karma-voted').update('<img src="{{ settings.MEDIA_URL }}images/throbber.gif" />');
			Dajaxice.forums.votedown('Dajax.process', {'post_id': post_id});
			return false;
		}
		function vote_saved(post_id, karma)
		{
			$('post-' + post_id).down('span.karma-voted').update('Saved.');
			$('post-' + post_id).down('span.karma-count').update(karma);
		}
		function vote_error(post_id, message)
		{
			$('post-' + post_id).down('span.karma-voted').update(message);
		}
	</script>
</head>
<body>
	<div id="user">
		Hello, {{ user.username|default:"Guest" }}! - {% if user.is_authenticated %}<a href="{% url accounts.views.profile_settings %}">Settings</a> - <a href="{% url accounts.views.profile_details user.id %}">Your profile</a> - <a href="{% url accounts.views.logout_ %}">Logout</a>{% else %}<a href="{% url accounts.views.login_ %}">Login</a> (test:test) - <a href="{% url accounts.views.register %}">Sign up</a>{% endif %}
	</div>

	<div id="page">
		<div id="menu">
			<a href="{% url home %}">home</a> | <a href="{% url downloads %}">downloads</a> | <a href="{% url forums.views.index %}">forum</a> {% if user.is_staff %}| <a href="/admin/">admin</a> {% endif %}| <a href="{% url accounts.views.userlist %}">userlist</a> | <a href="{% url forums.views.search %}">search</a>
		</div>

		<div id="content">
			<div id="breadcrumbs">
				{% block breadcrumbs %}{% breadcrumb_url settings.SITE_NAME home %}{% endblock %}
			</div>

			{% if messages %}
			<ul class="messages">
			    {% for message in messages %}
			    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			    {% endfor %}
			</ul>
			{% endif %}
			{% block content %}
			{% endblock content %}
		</div>
	</div>
</body>
{% endsmartspaceless %}