{% load breadcrumbs %}
<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<style type="text/css">
	table{width:80%;}
</style>
<a href="/">home</a> | <a href="{% url forums.views.index %}">forum</a> {% if user.is_staff %}| <a href="/admin/">admin</a>{% endif %}
<hr>
{% block breadcrumbs %}
{% breadcrumb_url "Trinitee" home %}
{% endblock %}
<hr>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% block content %}
{% endblock content %}
<hr>
user: {{ user.username|default:"Guest" }} - {% if user.is_authenticated %}<a href="{% url accounts.views.logout_ %}">logout</a>{% else %}<a href="{% url accounts.views.login_ %}">login</a> (test:test) - <a href="{% url accounts.views.register %}">sign up</a>{% endif %}