{% extends "base.html" %}
{% load utils %}
{% load breadcrumbs %}
{% block title %}{{ flatpage.title }} - {{ block.super }}{% endblock %}
{% block breadcrumbs %}{{ block.super }} {% breadcrumb flatpage.title %}{% endblock %}
{% if flatpage.extra_css %}
{% block extra_css %}
{{ flatpage.extra_css }}
{% endblock %}
{% endif %}

{% if flatpage.extra_js %}
{% block extra_js %}
{{ flatpage.extra_js }}
{% endblock %}
{% endif %}

{% block content %}
    <h2>{{ flatpage.title }}</h2>
    
    <div class="section flatpage">
        {% ifequal flatpage.content_format 'txt' %}
            {{ flatpage.content|linebreaks }}
        {% endifequal %}
        {% ifequal flatpage.content_format 'html' %}
            {{ flatpage.content|safe }}
        {% endifequal %}
    </div>

	Last modified on {{ flatpage.modified|user_date:user }} by {{ flatpage.last_modified_by.username }}.
{% endblock %}