{% extends "base.html" %}
{% load utils %}
{% load smileys %}
{% block header %}
	<link rel="alternate" type="application/atom+xml" href="{% url feed_news %}" title="{{ settings.SITE_NAME }} News" />
	<link rel="alternate" type="application/atom+xml" href="{% url feed_forums_index %}" title="{{ settings.SITE_NAME }} Forum" />
{% endblock header %}
{% block breadcrumbs %}{% endblock breadcrumbs %}
{% block content %}
		<div id="info">
			<div style="float: left; padding: 0pt 15px;">
				<img src="{{ MEDIA_URL }}images/splashtee.png" alt="">
			</div>
			<div id="screenshotbar" style="padding-left: 20px;">
				<br>
				<a href="http://teeworlds.com/images/screens/screenshot0075.png"><img src="{{ MEDIA_URL }}images/screenshot0075_t.png" alt="screenshot" style="border: 1px solid rgb(128, 128, 128);"></a>
				<br><br>
				<a href="http://teeworlds.com/images/screens/screenshot0016.png"><img src="{{ MEDIA_URL }}images/screenshot0016_t.png" alt="screenshot" style="border: 1px solid rgb(128, 128, 128);"></a>
			</div>

			<div style="margin-left: 240px;">
				<h1>A retro multiplayer shooter</h1>
				Teeworlds is a <b>free online multiplayer game</b>, available for
				<b>all major operating systems</b>. Battle with up to
				<b>16 players</b> in a variety of game modes, including
				<b>Team Deathmatch</b> and <b>Capture The Flag</b>. You can even
				<b>design your own maps!</b>

				<br>
				<br>
				{% if latest_download %}
				<div id="download_box">
					<img style="float: left; padding-right: 10px;" src="{{ MEDIA_URL }}images/dl_arrow.png" alt="download arrow">
					<span style="font-size: 16px; font-weight: bold;"><a href="{{ latest_download.get_absolute_url }}">Download Teeworlds {{ latest_download.version }} for {{ latest_download.platform }}</a></span><br>
					<span class="smaller"><a href="{% url downloads %}">Other systems and versions</a></span>
				</div>
				{% endif %}
				<br>

				<div id="need-help">Need help? Head over to the <a href="?page=help"><b>support section</b></a>!</div>
			</div>
		</div>

		<div class="right" id="sidebar">
			{% if journal %}
			<h3>Blog Entries</h3>

			<ul>
				{% for blog_item in journal %}
				<li><a href="{% url journal %}#entry-{{ blog_item.id }}">{{ blog_item.topic.title }}</a></li>
				{% endfor %}
			</ul>
			{% endif %}

			<div id="news-archive"><a href="{% url forums.views.forum_view forum_id %}">News archive</a></div>

			<h3>Chat with us!</h3>
			Join us in <a href="irc://irc.quakenet.org/teeworlds">#teeworlds</a> on Quakenet for a quick chat and meet up with other players!
		</div>

{% for n in news %}
<div class="news">
	<div class="left">
		{% if n.author.avatar %}
			<img src="{{ n.author.avatar.url }}" alt="avatar">
		{% endif %}
	</div>
	<div class="right">
		<h2><a href="{{ n.topic.get_absolute_url }}">{{ n.topic.title }}</a></h2>
		<div class="article-details">
			{{ n.created_at|user_date:user }} by <a href="{{ n.author.get_absolute_url }}">{{ n.author }}</a>
		</div>
		<article>
			{% if settings.ENABLE_SMILEYS and user.profile.show_smileys|default_if_none:"1" %}
				{{ n.content_html|safe|smileys }}
			{% else %}
				{{ n.content_html|safe }}
			{% endif %}
		</article>
		<div class="article-bar">
			{% with n.topic.post_count|add:"-1" as replies %}
				<a href="{{ n.get_absolute_url }}">{{ replies }} comment{{ replies|pluralize }}</a>
			{% endwith %}
		</div>
	</div>
</div>
{% endfor %}
{% endblock content %}