{% extends "forums/base.html" %}
{% load utils %}
{% load forums %}
{% load breadcrumbs %}
{% load pagination_tags %}
{% block title %}{{ forum.name }} (Page {{ request.page }}) - {{ block.super }}{% endblock %}
{% block header %}
	<link rel="alternate" type="application/atom+xml" href="{% url feed_forums_index %}" title="{{ settings.SITE_NAME }} Forum" />
	<link rel="alternate" type="application/atom+xml" href="{% url feed_forums_forum forum.id %}" title="Forum &quot;{{ forum.name }}&quot; - {{ settings.SITE_NAME }} Forum" />
{% endblock header %}
{% block breadcrumbs %}{{ block.super }} {% breadcrumb_url forum.name forums.views.forum_view forum.id %}{% endblock %}
{% block content %}
	<h2>{{ forum.name }}</h2>
	{% if user.is_superuser or user.is_staff or user|can_post_topic:forum %}
	<a class="button reply" href="{% url forums.views.topic_new forum.id %}">New topic</a>
	{% else %}
	<a class="button reply disabled"{% if not user.is_authenticated %} href="{% url forums.views.topic_new forum.id %}"{% endif %}>New topic</a>
	{% endif %}
	{% autopaginate topics settings.TOPICS_PER_PAGE %}
	{% paginate %}
	<table cellspacing="5" cellpadding="5">
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Replies</th>
			<th>Views</th>
			<th>Last post</th>
		</tr>
		{% for t in topics %}
		<tr>
			{% url forums.views.topic_view t.id as topic_url %}
			<td>{% if t.has_new_posts %}<b>[UNREAD]</b> {% endif %}{% if t.is_sticky %}<b>[STICKY]</b> {% endif %}{% if t.is_closed %}<b>[CLOSED]</b> {% endif %}<a href="{{ topic_url }}">{{ t.title }}</a> {{ t|topic_pagination:settings.POSTS_PER_PAGE }}</td>
			<td>{{ t.author }}</td>
			<td>{{ t.post_count|add:"-1" }}{# nice hack #}</td>
			<td>{{ t.view_count }}</td>
			<td><a href="{{ t.last_post.get_absolute_url }}">{{ t.last_post.created_at|user_date:user }}</a> by {{ t.last_post.author }}</td>
		{% empty %}
			<td colspan="4">No topics in this forum.</td>
		</tr>
		{% endfor %}
	</table>
	{% paginate %}
	{% if user.is_superuser or user.is_staff or user|can_post_topic:forum %}
	<a class="button reply" href="{% url forums.views.topic_new forum.id %}">New topic</a>
	{% else %}
	<a class="button reply disabled"{% if not user.is_authenticated %} href="{% url forums.views.topic_new forum.id %}"{% endif %}>New topic</a>
	{% endif %}
{% endblock content %}