{% extends "forums/base.html" %}
{% load utils %}
{% block title %}{{ block.super }}{% endblock %}
{% block header %}
	<link rel="alternate" type="application/atom+xml" href="{% url feed_forums_index %}" title="{{ settings.SITE_NAME }} Forum" />
{% endblock header %}
{% block content %}
	<table id="forum_view">
		<tbody><tr>
			<th>Forum name</th>
			<th>Topic count</th>
			<th>Post count</th>
			<th>Last Post</th>
		</tr>
		{% for c in categories %}
		<tr>
			<td colspan="4">
				<b>{{ c.category.name }}</b>
				<p>{{ c.category.description }}</p>
			</td>
		</tr>
		{% for f in c.forums %}
		<tr>
			<td>
				<b><a href="{% url forums.views.forum_view f.id %}">{{ f.name }}</a> {% if f.has_new_posts %} [ New posts ] {% endif %}</b>
				<p>{{ f.description }}</p>
			</td>
			<td>{{ f.topic_count }}</td>
			<td>{{ f.post_count }}</td>
			<td>{% if f.last_post %}<a href="{{ f.last_post.get_absolute_url }}" title="Topic &quot;{{ f.last_post.topic }}&quot;">{{ f.last_post.created_at|user_date:user }}</a> by {{ f.last_post.author }}{% else %}-{% endif %}</td>
		</tr>
		{% empty %}
			<td colspan="4">No forums. :-(</td>
		{% endfor %}
		{% empty %}
			<td colspan="4">No categories. :-(</td>
		{% endfor %}
	</tbody></table>
{% endblock content %}
{% block after_content %}
	<div id="forum_stats">
			<div id="users_online">
				<span id="users_online_info">Currently there {{ users_online|length|pluralize:"is,are" }} {{ users_online|length|default:"no" }} user{{ users_online|length|pluralize }} online{% if users_online|length %}:{% endif %}</span>
				<span id="users_online_data">{% for u in users_online %}<a href="{{ u.get_absolute_url }}">{{ u.username }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</span>
			</div>
			<div id="random_numbers">
				Users: {{ users }} | Topics: {{ topics }} | Posts: {{ posts }}
			</div>
	</div>
{% endblock after_content %}