{% extends "forums/base.html" %}
{% load utils %}
{% block content %}
	<h2>Categories</h2>
	<table cellspacing="5" cellpadding="5">
		<tr>
			<th>Forum name</th>
			<th>Topic count</th>
			<th>Post count</th>
			<th>Last Post</th>
		</tr>
		{% for c in categories %}
		<tr>
			<td colspan="4">
				<b>{{ c.category.name }}</b>
				<p>{{ c.category.description }}</p>
			</td>
		</tr>
		{% for f in c.forums %}
		<tr>
			<td>
				<b><a href="{% url forums.views.forum_view f.id %}">{{ f.name }}</a></b>
				<p>{{ f.description }}</p>
			</td>
			<td>{{ f.topic_count }}</td>
			<td>{{ f.post_count }}</td>
			<td>{% if f.last_post %}<a href="{{ f.last_post.get_absolute_url }}" title="Topic &quot;{{ f.last_post.topic }}&quot;">{{ f.last_post.created_at|user_date:user }}</a> by {{ f.last_post.author }}{% else %}-{% endif %}</td>
		</tr>
		{% empty %}
			<td colspan="4">No forums. :-(</td>
		{% endfor %}
		{% empty %}
			<td colspan="4">No categories. :-(</td>
		{% endfor %}
	</table>
{% endblock content %}