{% extends "forums/base.html" %}
{% load breadcrumbs %}
{% block title %}New reply - {{ block.super }}{% endblock %}
{% block breadcrumbs %}{{ block.super }} {% breadcrumb_url topic.forum.name forums.views.forum_view topic.forum.id %} {% breadcrumb_url topic.title forums.views.topic_view topic.id %} {% breadcrumb "New reply" %}{% endblock %}
{% block content %}
	<form action="{% url forums.views.post_new topic.id %}" method="post">
	    {% include "snippets/form.html" %}
	    <p><input type="submit" value="Post reply" /></p>
	</form>
{% endblock content %}