{% extends "forums/base.html" %}
{% load breadcrumbs %}
{% block title %}Post bulk delete confirmation - {{ block.super }}{% endblock %}
{% block breadcrumbs %}{{ block.super }} {% breadcrumb_url topic.forum.name forums.views.forum_view topic.forum.id %} {% breadcrumb_url topic.title forums.views.topic_view topic.id %} {% breadcrumb "Post bulk delete confirmation" %}{% endblock %}
{% block content %}
	<form action="{% url forums.views.posts_delete topic.id %}" method="post">
	    {% include "snippets/form.html" %}
	    <p><input type="submit" value="Delete selected posts" /></p>
		<p><input type="submit" name="cancel" value="Cancel" /></p>
		<input type="hidden" name="posts_selected" value="{{ posts_selected }}" id="posts_selected" />
	</form>
{% endblock content %}