{% extends 'forums/base.html' %}
{% load utils %}
{% load breadcrumbs %}
{% block title %}Search - {{ block.super }}{% endblock %}
{% block breadcrumbs %}{{ block.super }} {% breadcrumb "Search" %}{% endblock %}
{% block content %}
	<h2>Search</h2>

	<form method="get" action="{% url forum_search %}">
		<table id="search">
			{{ form.as_table }}
			<tr>
				<td colspan="2"><input type="submit" value="Search"></td>
			</tr>
		</table>
	</form>

	{% if page.object_list %}
	<h3>Results</h3>
	<table id="results">
		<thead>
			<tr>
				<th>Topic</th>
				<th class="replies">Replies</th>
				<th>Last post</th>
			</tr>
		</thead>
		<tbody>
		{% for result in page.object_list %}
			<tr>
				<td class="topic"><a href="{{ result.object.get_absolute_url }}">{{ result.title }}</a></td>
				<td class="replies">{{ result.object.post_count|add:-1 }}</td>
				<td class="last-post"><a href="{{ result.object.last_post.get_absolute_url }}" title="Topic &quot;{{ result.title }}&quot;">{{ result.object.last_post.created_at|user_date:user }}</a> by {{ result.object.last_post.author }}</td>
			</tr>
		{% endfor %}
	</tbody>
	</table>
	{% else %}
	<h3>No results found.</h3>
	{% endif %}
{% endblock %}