{% extends "forums/base.html" %}
{% load breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb_url topic.forum.name forums.views.forum_view topic.forum.id %}
{% breadcrumb_url topic.title forums.views.topic_view topic.id %}
{% endblock %}
{% block content %}
	<h2>{{ topic.title }}</h2>
	{% if perms.forums.add_post %}<a href="{% url forums.views.post_new topic.id %}">+ reply</a>{% endif %}
	{% for p in posts %}
	<p><a href="{% url accounts.views.profile_details p.author.id %}">{{ p.author }}</a> said "{{ p.content }}" <a href="{% url forums.views.post_new topic.id p.id %}">(quote)</a></p>
	{% endfor %}
{% endblock content %}