{% extends "forums/base.html" %}
{% load breadcrumbs %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb_url topic.forum.name forums.views.forum_view topic.forum.id %}
{% breadcrumb_url topic.title forums.views.topic_view topic.id %}
{% breadcrumb "Moving topic" %}
{% endblock %}
{% block content %}
	<form action="{% url forums.views.move_topic topic.id %}" method="post">
	    {% include "snippets/form.html" %}
	    <p><input type="submit" value="Move topic" /></p>
	</form>
{% endblock content %}