{% extends "forums/base.html" %}
{% load utils %}
{% load smileys %}
{% load breadcrumbs %}
{% load pagination_tags %}
{% block breadcrumbs %}
{{ block.super }}
{% breadcrumb_url topic.forum.name forums.views.forum_view topic.forum.id %}
{% breadcrumb_url topic.title forums.views.topic_view topic.id %}
{% endblock %}
{% block content %}
	<h2>{{ topic.title }}</h2>
	{% if perms.forums.add_post %}<a href="{% url forums.views.post_new topic.id %}">+ reply</a>{% endif %}
	{% autopaginate posts settings.POSTS_PER_PAGE %}
	{% paginate %}
	<table cellspacing="5" cellpadding="5">
		<tr>
			<th colspan="2" align="right">
			{% if user.is_staff %}
				{% if topic.is_sticky %}
					<a href="{% url forums.views.unstick_topic topic.id %}">Unstick topic</a>
				{% else %}
					<a href="{% url forums.views.stick_topic topic.id %}">Stick topic</a>
				{% endif %}
				{% if topic.is_closed %}
					<a href="{% url forums.views.open_topic topic.id %}">Open topic</a>
				{% else %}
					<a href="{% url forums.views.close_topic topic.id %}">Close topic</a>
				{% endif %}
				<a href="{% url forums.views.move_topic topic.id %}">Move topic</a>
			{% endif %}
			</th>
		</tr>
	{% for p in posts %}
		<tr id="{{ p.id }}">
			<td><a href="{% url accounts.views.profile_details p.author.id %}">{{ p.author }}</a></td>
			<td>
				<tr>
					<td><a href="{{ p.get_absolute_url }}">#{{ p.id }}</a> {{ p.created_at|user_date:user }}{% if p.modified_by %} (modified on {{ p.modified_at|user_date:user }}{% if p.modified_by != p.author %} by {{ p.modified_by }}{% endif %}){% endif %}</td>
					<td align="right"><a href="{% url forums.views.post_new topic.id p.id %}">(quote)</a>{% if perms.forums.edit_post or p == p.topic.last_post and p.author == user %} <a href="{% url forums.views.post_edit p.id %}">(edit)</a>{% endif %}{% if perms.forums.delete_post %} <a href="{% url forums.views.post_delete p.id %}">(delete{% if p.id == p.topic.first_post.id %} topic{% endif %})</a>{% endif %}</td>
				</tr>
				<tr>
					<td>
						{% if settings.ENABLE_SMILEYS and user.get_profile.show_smileys %}
							{{ p.content_html|safe|smileys }}
						{% else %}
							{{ p.content_html|safe }}
						{% endif %}
					</td>
				</tr>
			</td>
		</tr>
	{% endfor %}
	</table>
	{% paginate %}
	{% if perms.forums.add_post %}<a href="{% url forums.views.post_new topic.id %}">+ reply</a>{% endif %}
{% endblock content %}