{% extends "forums/base.html" %}
{% load breadcrumbs %}
{% block title %}Topics merge confirmation - {{ block.super }}{% endblock %}
{% block breadcrumbs %}{{ block.super }} {% breadcrumb_url forum.name forums.views.forum_view forum.id %} {% breadcrumb "Topics merge confirmation" %}{% endblock %}
{% block content %}
	<form action="{% url forums.views.topics_merge forum.id %}" method="post">
	    {% include "snippets/form.html" %}
	    <p><input type="submit" value="Merge topics" /></p>
		<p><input type="submit" name="cancel" value="Cancel" /></p>
		<input type="hidden" name="topics_selected" value="{{ topics_selected|join:"," }}">
	</form>
{% endblock content %}